*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

.container {
  width: 400px;
  padding: 20px;
}

.space {
  margin: 20px 0;
}

ul[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

button,
.button {
  font: inherit;
  text-decoration: none;
}

#error {
  background-color: var(--color-pastel-red);
  padding: 12px;
}

#title a {
  text-decoration: none;
  font-size: medium;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    -webkit-animation-duration: NaNs !important;
    animation-duration: NaNs !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: NaNs !important;
    scroll-behavior: auto !important;
  }
}

.center-l {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 87ch;
  max-width: var(--measure, 65ch);
}

.cluster-l>* {
  margin: -0.65rem !important;
  margin: -0.65rem !important;
  margin: calc(var(--s1, 1.3rem) / 2 * -1) !important;
}

.cluster-l>* {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.cluster-l>*>* {
  margin: 0.65rem !important;
  margin: 0.65rem !important;
  margin: calc(var(--s1, 1.3rem) / 2) !important;
}

.cluster-l.--no-margin>* {
  margin: 0 !important;
}

.cluster-l.--no-margin>*>* {
  margin: 0 !important;
}

@supports (display: grid) {
  .grid-l {
    display: grid;
    grid-gap: 1.3rem;
    grid-gap: var(--s1);
  }
}

@supports (display: grid) and (width: min(var(--min-cell-width, 250px), 100%)) {
  .grid-l {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-template-columns: repeat(auto-fit,
        minmax(min(var(--min-cell-width, 250px), 100%), 1fr));
  }
}

.text-align\:center {
  text-align: center;
}

[dir="ltr"] .text-align\:start {
  text-align: left;
}

[dir="rtl"] .text-align\:start {
  text-align: right;
}

[dir="ltr"] .text-align\:end {
  text-align: right;
}

[dir="rtl"] .text-align\:end {
  text-align: left;
}

.width\:100\% {
  width: 100%;
}

:root {
  --measure: 100ch;
}

body {
  font-size: calc(0.1vw + 1em);
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, san francisco, helvetica neue,
    sans-serif;
  font-family: var(--font-plain);
}

button,
.button {
  border-width: 2px;
  border-width: var(--border-thin);
  max-width: 100%;
}

:not(:defined) {
  opacity: 0;
}

@media (max-width: 30rem) {
  * {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
  }
}

:focus {
  outline: 4px solid #0c9;
  outline: var(--border-focus) var(--focus-style) var(--color-focus-dark);
  transition-property: outline-width;
  transition-duration: 0.3s;
}

:focus-within {
  z-index: 1;
}

[tabindex="-1"]:focus {
  outline: 0;
}

button,
.button {
  outline: 2px solid transparent;
  outline: var(--border-thin) solid transparent;
  outline-offset: -2px;
  outline-offset: calc(var(--border-thin) * -1);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

[role="img"] {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

[href="#main"] {
  display: inline-block;
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 10;
  top: 0;
}

h1,
h2,
h3,
h4 {
  line-height: normal;
  line-height: var(--line-height-small);
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, san francisco, helvetica neue,
    sans-serif;
  font-family: var(--font-special);
  font-weight: 600;
  font-weight: var(--font-weight-bold);
}

.h1,
h1 {
  font-size: 2.8561rem;
  font-size: var(--s4);
}

.h2,
h2 {
  font-size: 2.197rem;
  font-size: var(--s3);
}

.h3,
h3 {
  font-size: 1.69rem;
  font-size: var(--s2);
}

.h4,
h4 {
  font-size: 1.3rem;
  font-size: var(--s1);
}

ul:not([class]) ul:not([class])>li {
  margin-top: 0.35013rem;
  margin-top: var(--s-4);
}

ul:not([class])>li+li {
  margin-top: 0.76923rem;
  margin-top: var(--s-1);
}

ul[class] {
  margin: 0;
  padding-left: 0;
}

hr {
  border-top-width: 2px;
  border-top-width: var(--border-thin);
  margin-top: 2px;
  margin-top: var(--border-thin);
  margin-bottom: 2px;
  margin-bottom: var(--border-thin);
  margin-left: 0;
  margin-right: 0;
}

:root {
  --font-plain: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "San Francisco",
    "Helvetica Neue", sans-serif;
  --font-special: var(--font-plain);
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --list-style-type: "\2013\00a0";
  --color-dark: hsl(0, 0%, 2%);
  --color-darkish: hsl(0, 0%, 25%);
  --color-lightish: hsl(0, 0%, 90%);
  --color-light: hsl(0, 0%, 98%);
  --color-lightest: white;
  --color-mid: hsl(0, 0%, 50%);
  --color-highlight-dark: var(--color-darkish);
  --color-highlight-light: var(--color-lightish);
  --color-focus-dark: hsl(181, 90%, 36%);
  --color-focus-light: hsl(181, 90%, 80%);
  --decoration-highlight: solid;
  --ratio: 1.3;
  --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 0.4rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --p0: 1vw;
  --p1: calc(var(--p0) * var(--ratio));
  --p2: calc(var(--p0) * var(--ratio) * var(--ratio));
  --p3: calc(var(--p0) * var(--ratio) * var(--ratio) * var(--ratio));
  --p4: calc(var(--p0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --p5: calc(var(--p0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s0p0: calc(var(--s0) + var(--p0));
  --s0p1: calc(var(--s0) + var(--p1));
  --s0p2: calc(var(--s0) + var(--p2));
  --s0p3: calc(var(--s0) + var(--p3));
  --s0p4: calc(var(--s0) + var(--p4));
  --s0p5: calc(var(--s0) + var(--p5));
  --s1p0: calc(var(--s1) + var(--p0));
  --s1p1: calc(var(--s1) + var(--p1));
  --s1p2: calc(var(--s1) + var(--p2));
  --s1p3: calc(var(--s1) + var(--p3));
  --s1p4: calc(var(--s1) + var(--p4));
  --s1p5: calc(var(--s1) + var(--p5));
  --s2p0: calc(var(--s2) + var(--p0));
  --s2p1: calc(var(--s2) + var(--p1));
  --s2p2: calc(var(--s2) + var(--p2));
  --s2p3: calc(var(--s2) + var(--p3));
  --s2p4: calc(var(--s2) + var(--p4));
  --s2p5: calc(var(--s2) + var(--p5));
  --s3p0: calc(var(--s3) + var(--p0));
  --s3p1: calc(var(--s3) + var(--p1));
  --s3p2: calc(var(--s3) + var(--p2));
  --s3p3: calc(var(--s3) + var(--p3));
  --s3p4: calc(var(--s3) + var(--p4));
  --s3p5: calc(var(--s3) + var(--p5));
  --s4p0: calc(var(--s4) + var(--p0));
  --s4p1: calc(var(--s4) + var(--p1));
  --s4p2: calc(var(--s4) + var(--p2));
  --s4p3: calc(var(--s4) + var(--p3));
  --s4p4: calc(var(--s4) + var(--p4));
  --s4p5: calc(var(--s4) + var(--p5));
  --s5p0: calc(var(--s5) + var(--p0));
  --s5p1: calc(var(--s5) + var(--p1));
  --s5p2: calc(var(--s5) + var(--p2));
  --s5p3: calc(var(--s5) + var(--p3));
  --s5p4: calc(var(--s5) + var(--p4));
  --s5p5: calc(var(--s5) + var(--p5));
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: normal;
  --border-extra-thin: 1px;
  --border-thin: 2px;
  --border-medium: 4px;
  --border-thick: var(--s-3);
  --border-focus: var(--border-thick);
  --focus-style: solid;
  --font-weight-thin: 100;
  --font-weight-normal: normal;
  --font-weight-bold: 600;
  --font-weight-super-bold: 900;
}

:root {
  --measure: 87ch;
  --color-primary: hsl(165, 100%, 25%);
  --color-dark: hsl(188, 82%, 11%);
  --color-darkish: hsl(165, 100%, 20%);
  --color-lightish: hsl(165, 50%, 90%);
  --color-light: hsl(0, 0%, 99%);
  --color-lightest: white;
  --color-mid: #eeeeee;
  --color-focus-dark: hsl(165, 100%, 40%);
  --color-focus-light: hsl(165, 100%, 80%);
  --color-overlay-bg: rgba(43, 46, 56, 0.9);
  --color-yellow: #f5c548;
  --color-light-yellow: #f7edc0;
  --color-greenish-yellow: #cadd00;
  --color-bright-yellow: #f7ed00;
  --color-saturated-yellow: #ffce00;
  --color-light-green: #b6d295;
  --color-medium-green: #b6d295;
  --color-medium-green-2: #2e9b43;
  --color-cool-green: #34bc6e;
  --color-dark-green: #2d665e;
  --color-very-light-pink: #eeeeee;
  --color-dark-blue: #0d2e38;
  --color-very-light-pink-two: #d8d8d8;
  --color-pastel-red: #d73a35;
  --color-vermillion: #f01c16;
  --color-mango: #fb9929;
  --color-dark-green-2: #007e5f;
  --color-teal: #00a67d;
  --color-very-light-pink: #eee;
  --color-dark-rgb: 10, 55, 66;
  --border-focus: var(--border-medium);
  --border-radius-small: 5px;
  --border-radius-large: 20px;
}

/*!purgecss start ignore*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

/*!purgecss end ignore*/
html {
  background-color: #00664d;
  background-color: var(--color-darkish);
  color: #052d33;
  color: var(--color-dark);
}

*,
::after,
::before {
  font-family: inherit;
  color: inherit;
  word-wrap: break-word;
  border-style: solid;
  border-width: 0;
  border-color: initial;
}

::-webkit-input-placeholder {
  color: #eee;
  color: var(--color-mid);
  padding: 0.26933rem 0.26933rem 0.26933rem 0;
  padding: var(--s-5) var(--s-5) var(--s-5) 0;
}

:-ms-input-placeholder {
  color: #eee;
  color: var(--color-mid);
  padding: 0.26933rem 0.26933rem 0.26933rem 0;
  padding: var(--s-5) var(--s-5) var(--s-5) 0;
}

::placeholder {
  color: #eee;
  color: var(--color-mid);
  padding: 0.26933rem 0.26933rem 0.26933rem 0;
  padding: var(--s-5) var(--s-5) var(--s-5) 0;
}

a:not([class]) {
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
  -webkit-text-decoration-color: var(--color-lightest);
  text-decoration-color: var(--color-lightest);
}

h1,
h2 {
  font-weight: 400;
  font-weight: var(--font-weight-normal);
}

h1 {
  font-size: 3.71293rem;
  font-size: var(--s5);
}

h2 {
  font-size: 2.8561rem;
  font-size: var(--s4);
}

hr {
  border-color: #eee;
  border-color: var(--color-mid);
}

[href="#main"] {
  padding: 0 0.76923rem;
  padding: 0 var(--s-1);
  background-color: #fcfcfc;
  background-color: var(--color-light);
}

[href="#main"]:focus {
  color: #052d33;
  color: var(--color-dark);
  border-color: #d9f2ec;
  border-color: var(--color-lightish);
  left: 0.45517rem;
  left: var(--border-thick);
  top: 0.45517rem;
  top: var(--border-thick);
}

button,
.button {
  padding: 1.3rem;
  padding: var(--s1);
  border-width: 0;
  border-radius: 5px;
  border-radius: var(--border-radius-small);
}

button,
.button {
  text-align: left;
  cursor: pointer;
  background-color: #fcfcfc;
  background-color: var(--color-light);
  color: #052d33;
  color: var(--color-dark);
  font-weight: 600;
  font-weight: var(--font-weight-bold);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  position: relative;
  background-color: #008060;
  background-color: var(--color-primary);
  color: #fcfcfc;
  color: var(--color-light);
}

:focus {
  outline: 4px solid #99ffe6;
  outline: var(--border-focus) var(--focus-style) var(--color-focus-light);
}

.content-link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 0.05em;
  background: linear-gradient(currentColor, currentColor) bottom/100% 0.1em no-repeat;
  white-space: nowrap;
  margin: 0.35em 0;
}

/*!purgecss start ignore*/
.notation-level-chart:nth-child(1)>* {
  background-color: #2e9b43;
  background-color: var(--color-medium-green-2);
}

.notation-level-chart:nth-child(2)>* {
  background-color: #34bc6e;
  background-color: var(--color-cool-green);
}

.notation-level-chart:nth-child(3)>* {
  background-color: #cadd00;
  background-color: var(--color-greenish-yellow);
}

.notation-level-chart:nth-child(4)>* {
  background-color: #f7ed00;
  background-color: var(--color-bright-yellow);
}

.notation-level-chart:nth-child(5)>* {
  background-color: #ffce00;
  background-color: var(--color-saturated-yellow);
}

.notation-level-chart:nth-child(6)>* {
  background-color: #fb9929;
  background-color: var(--color-mango);
}

.notation-level-chart:nth-child(7)>* {
  background-color: #f01c16;
  background-color: var(--color-vermillion);
}

.notation-level-chart:nth-child(1).--active,
.notation-level-chart:nth-child(7).--active {
  color: #fff;
}

[data-int-nodes-binary-score-value="0"],
[data-int-requests-binary-score-value="0"],
[data-int-size-binary-score-value="0"] {
  color: #2e9b43;
  color: var(--color-medium-green-2);
}

[data-int-nodes-binary-score-value="1"],
[data-int-requests-binary-score-value="1"],
[data-int-size-binary-score-value="1"] {
  color: #ffce00;
  color: var(--color-saturated-yellow);
}

.result-notation-levels-chart>*>* {
  -webkit-flex: 1 1 auto;
  flex: auto;
}

.notation-level-chart>.chart-part {
  height: 1.17rem;
}

.notation-level-chart:first-child>.chart-part {
  border-top-left-radius: 0.33rem;
  border-bottom-left-radius: 0.33rem;
}

.notation-level-chart:last-child>.chart-part {
  border-top-right-radius: 0.33rem;
  border-bottom-right-radius: 0.33rem;
}

.level-chart-label {
  font-size: 1.69rem;
  font-size: var(--s2);
  font-weight: 700;
  text-align: center;
  padding: 1.14rem 0 0.4rem;
  position: relative;
  top: -0.34rem;
  border-bottom-left-radius: 0.33rem;
  border-bottom-right-radius: 0.33rem;
}

.notation-level-chart:not(.--active) .level-chart-label {
  background: 0 0;
}

/*!purgecss end ignore*/
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  font-size: 30px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: "Analyse en cours";
  position: relative;
  z-index: 5;
}

.loader:before {
  content: "";
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#fff 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

code {
  display: block;
  padding: 10px;
  color: grey;
  background: #f5f5f5;
  font-family: monospace;
  font-size: 12px;
}

.shadow {
  filter: drop-shadow(0 0 0.75rem black);
}

.button-icon {
  background-color: #00664d;
  background-color: var(--color-darkish);
  fill: var(--color-light);
}

.icon-square-wrapper svg {
  height: 1.5em;
  width: 1.5em;
  top: .25em;
  position: relative;
}

summary {
  cursor: pointer;
}